.userinterface-container{
    padding-top: 60px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button.active {
    border: 2px solid  #FFB86F; 
}

.pagination-container {
    display: flex;
    justify-content: center;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pagination button {
    margin: 5px;
  }

.edit-form-container {
    width: 90%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width */
    height: auto; /* Auto height */
    background-color: #FFB86F;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    padding: 20px;
    border-radius: 8px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form input {
    margin-bottom: 10px;
}

.form-button button {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .edit-form-container {
        width: 90%;
        max-width: none;
    }

    .pagination button {
        margin: 3px;
      }
}