@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap');

.card-container{
    padding: 6px;
    width: 60vw;
    height: 25vh;
  
    border-radius: 16px;
    background: #ffffff;
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
             margin: 10px;
             
}

.user-wrapper{
display: flex;
flex-direction: row;

width:100%;
height: 100%;
justify-content:flex-start;
align-items: center;
text-align: start;
}
.img-wrapper{
    width:20%;
    height: 90%;


}

.text-wrapper {
   
    width: 70%; 
    padding-left: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;

  }
.img-wrapper img {
    width: 120px; 
    height: 120px; 
    border-radius: 55%; 
    margin-bottom: 10px;
   
  }

  .user-name{
font-size: 1.15rem;

font-family: "Outfit", sans-serif;
letter-spacing: 1.2px;
  }


  .user-bio{
    margin: 4px 0;
font-size: 1.3em;
font-family: "Caveat", cursive;

  }

  .address-wrapper{
    display: flex;
  justify-content: space-between; 
  align-items: center;
  }

  button {
 margin-right: 30px;
    background-color: white;
    color: black;
    border-radius: 4em;
    font-size: 12px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
  
  .map-container{
    width: 60vw;
    height: 60vh;
    border: 2px solid black;
    box-shadow: 4px 4px #CF5C36;
   
  }

  

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

   
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .admin-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-items: center;
    padding: 4px;
    height: 80%;
  
    
  }
  
  
 .action-icon{
    font-size: 18px;
 }
 .delete{
    color: #F05D5E;
 }
 .edit{
    color: #1F487E;
 }
  

 /* ProfileCard.css */

@media only screen and (max-width: 768px) {
    .card-container {
      width: 80vw;
    }
  
    .user-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .img-wrapper {
      width: 60%;
      margin-bottom: 20px;
    }
  
    .img-wrapper img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  
    .text-wrapper {
      width: 80%;
      text-align: center;
    }
  
    .address-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    button {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .map-container {
      width: 80vw;
      height: 40vh;
    }
  }

  